<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rekisterikilpitarkkailusivusto. Sivustolla voit seurata bongailusi edistymistä
    ja saada tietoa harrastuksesta.">
    <meta name="author" content="Mikko Ahlroth">

    <title><%= @title %> – rekkaritarkkailu.fi</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/tietoa">Tietoa</a></li>

          <%= unless is_authed @conn do %>
            <li><a href="/sisaan">Kirjaudu sisään</a></li>
          <%= else %>
            <li><a href="/ulos">Kirjaudu ulos</a></li>
          <% end %>
        </ul>

        <span class="logo np np-fin np-car"><span class="np-eu-fin"></span>rekkaritarkkailu.fi</span>
      </div>

      <%= for msg <- Flash.get @conn, :error do %>
        <div class="alert alert-danger" role="alert">
          <%= msg %>
        </div>
      <% end %>

      <%= for msg <- Flash.get @conn, :warning do %>
        <div class="alert alert-warning" role="alert">
          <%= msg %>
        </div>
      <% end %>

      <%= for msg <- Flash.get @conn, :success do %>
        <div class="alert alert-success" role="alert">
          <%= msg %>
        </div>
      <% end %>

      <%= for msg <- Flash.get @conn, :info do %>
        <div class="alert alert-info" role="alert">
          <%= msg %>
        </div>
      <% end %>

      <%= @inner %>

      <div class="footer">
        <p><a href="/">rekkaritarkkailu.fi</a></p>
      </div>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
  </body>
</html>
