<div class="row">
  <h2>Sisäänkirjautuminen</h2>

  <%= form_tag("", method: :post) %>
    <div class="form-group">
      <label for="username">Käyttäjätunnus</label>
      <input type="text" class="form-control" name="username" id="username" required="required" />
    </div>

    <div class="form-group">
      <label for="password">Salasana</label>
      <input type="password" class="form-control" name="password" id="password" required="required" />
    </div>

    <button type="submit" class="btn btn-submit">Kirjaudu</button>
  </form>
</div>
